.header{
  background-color: rgb(36,36,36);
  height: 60px;
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  top: 0;
  z-index: 5;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

/* .logo{
  color: rgb(231 46 46);
  font-weight: bold;
  text-decoration: none;
  
} */

.logo{
  margin-top: 2px;
  margin-left: -4px;
}

.nav{
  display: flex;
  justify-content: space-between;
width: 350px;
align-items: center;
}

nav a{
  font-weight:500;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  line-height: 1.5;
}

nav a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: rgb(184, 22, 22); /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

nav a:hover:after,
nav a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

@media (max-width: 1500px){
  .header_wrapper{
    width: 1250px;
  }
}

@media (max-width: 1300px){
  .header_wrapper{
    width: 1050px;
  }
}

@media (max-width: 1150px){
  .header_wrapper{
    width: 800px;
  }
}